@font-face {
     font-family: 'Angel Wish';
     src: url('../Fonts/angel-wish-font/AngelWishRegular-1G9wM.ttf');
}

.df_score-container, .df_options-container{
     display: none;
     position: absolute;
     width: 100%;
     top: 20%;
     left: 0;
     color: #BE5108;
     font-family: 'Angel Wish', sans-serif;
}

.df_pause-container{
     display: none;
     position: absolute;
     width: 100%;
     top: 10%;
     left: 0;
     color: #BE5108;
     font-family: 'Angel Wish', sans-serif;
}

.df_configOptions{
     font-family: 'MedievalSharp', sans-serif;
     font-size: 2.5em;
     color: #FFA500;
     border: solid 3px orange;
     background: linear-gradient(90deg, rgb(26, 0, 0) 0%, rgb(128, 32, 3) 32%, rgb(153, 91, 11) 45%, rgb(153, 91, 11) 49%, rgb(128, 32, 3) 61%, rgb(26, 0, 0) 100%);;
}

.df_checkbox{
     cursor: pointer;
     background: none;
     border: 3px solid #FFA500;
     transition: .2s ease;
     width: 40px;
     height: 40px;
     align-self: center;
}
 
.df_checkbox:focus{
border-color: #FFA500;
box-shadow: none;
}

.df_checkbox:checked{
background: #FFA500;
border-color: #c78100;
}

.df_titulo{
     font-size: 7em;
     text-shadow: 2px 2px 1px #D89900, 4px 4px 1px #CFCFD0;
}

.df_score_paragraph{
     font-family: 'MedievalSharp', sans-serif;
     font-size: 2em;
     font-weight: bold;
     text-shadow: 2px 2px 3px #000000;
}

.inside_btn:hover {
     border-style: solid;
     border-bottom-width: thick;
     border-top-width: thick;
     border-color: rgb(255, 196, 0);
}

.df_btn{
     color: #000;
     font-size: 25px;
     width: 188px;
     height: 72px;
     font-family: 'MedievalSharp', sans-serif;
     font-weight: bold;
     border-radius: 0px;
     border: 0px solid #ffc400;
     background: linear-gradient(90deg, rgb(121, 3, 3) 0%, rgb(155, 42, 7) 32%, rgb(177, 66, 15) 45%, rgb(173, 82, 22) 49%, rgb(192, 108, 12) 61%, rgb(226, 175, 8) 100%);
     transition: .2s ease-in-out;
     cursor: pointer;
}

.df_link-container{
     position: relative;
     display: block;
     cursor: pointer;
}

.df_marco-btn{
     position: absolute;
     top: -20px;
     left: -10px;
     width: 210px;
}

.df_marco-btn:hover + .df_btn{
     border-bottom: thick solid #ffc400;
     border-top: thick solid #ffc400;
     border-color: #ffc400;
}

.df_life-container{
     position: absolute;
     bottom: 0;
     width: 300px;
     height: 30px;
     border: 3px solid #000000;
}

#df_secondplayer-container{
     right: 0;
}

.df_life{
     width: 100%;
     height: 100%;
     background: rgb(121, 3, 3);
}

.df_display-score{
     position: absolute;
     top: 30px;
     left: 30px;
}

.df_display-score-p{
     color: #fff;
     font-weight: bold;
}