@font-face {
     font-family: 'Angel Wish';
     src: url('../Fonts/angel-wish-font/AngelWishRegular-1G9wM.ttf');
}

.main-container{
     color: #BE5108;
     background-image: url('../imgs/dungeon-back.jpg');
     background-size:cover;
     background-repeat: no-repeat;
     font-family: 'Angel Wish', sans-serif;
}


.df_titulo{
     font-size: 3em;
     text-shadow: 2px 2px 1px #D89900, 4px 4px 1px #CFCFD0;
}

.df_btn{
     color: #000;
     font-size: 20px;
     width: 188px;
     height: 72px;
     font-family: 'MedievalSharp', sans-serif;
     font-weight: bold;
     border-radius: 0px;
     border: 0px solid #ffc400;
     background: linear-gradient(90deg, rgb(121, 3, 3) 0%, rgb(155, 42, 7) 32%, rgb(177, 66, 15) 45%, rgb(173, 82, 22) 49%, rgb(192, 108, 12) 61%, rgb(226, 175, 8) 100%);
     transition: .2s ease-in-out;
}

.df_marco-btn{
     position: absolute;
     top: -20px;
     left: -10px;
     width: 210px;
}

.df_link-container{
     display: inline-block;
     position: relative;
     width: 188px;
     height: 72px;
}

.df_marco-btn:hover + .df_btn{
     border-bottom: thick solid #ffc400;
     border-top: thick solid #ffc400;
     border-color: #ffc400;
} 

.grog-container{
     position: relative;
     width: 100%;
     height: 100%;
}

.grog_menu{
     position: absolute;
     width: 450px;
     left: -100px;
     bottom: 30px;
}


.flamas{
     position: absolute;
     z-index: 1;
     left: -40px;
     bottom: 210px;
     width: 130px;
}


@media only screen and (min-width: 998px) {

     .df_titulo{
          font-size: 10em;
     }

     .grog_menu{
          width: 500px;
     }
     .flamas{
          position: absolute;
          z-index: 1;
          left: -28px;
          bottom: 240px;
          width: 130px;
     }
     .df_button-container{
          margin-left: 100px;
     }
}

@media only screen and (min-width: 1200px) {
     .df_titulo{
          font-size: 7em;
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }
     
     .df_btn{
          font-size: 23px;
     }
}

@media only screen and (min-width: 1400px) {
     .df_titulo{
          font-size: 10em;
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }
     .df_button-container{
          margin-left: 200px;
     }

     .grog_menu{
          position: absolute;
          width: 700px;
          left: -100px;
          bottom: 50px;
     }

     .flamas{
          position: absolute;
          z-index: 1;
          left: -30px;
          bottom: 330px;
          width: 250px;
     }

     
}

@media only screen and (min-width: 1800px) {
     .df_button-container{
          margin-left: 400px;
     }

}