@font-face {
    font-family: 'Angel Wish';
    src: url('../Fonts/angel-wish-font/AngelWishRegular-1G9wM.ttf');
}


.main-container{
    color: #BE5108;
    background-image: url('../imgs/dungeon-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Angel Wish', sans-serif;
}

.df_titulo{
    font-size: 3em;
    text-shadow: 2px 2px 1px #D89900, 4px 4px 1px #CFCFD0;
}

.df_optionText{
    font-size: .7em;
}

.df_configOptions{
    font-family: 'MedievalSharp', sans-serif;
    font-size: 2.5em;
    color: #FFA500;
    border: solid 3px orange;
    background: linear-gradient(90deg, rgb(26, 0, 0) 0%, rgb(128, 32, 3) 32%, rgb(153, 91, 11) 45%, rgb(153, 91, 11) 49%, rgb(128, 32, 3) 61%, rgb(26, 0, 0) 100%);;
}

.df_labelCheckbox{
    cursor: pointer;
    font-size: .5em;
}

.df_checkbox{
    cursor: pointer;
    background: none;
    border: 3px solid #FFA500;
    transition: .2s ease;
    width: 30px;
    height: 30px;
}

.df_checkbox:focus{
    border-color: #FFA500;
    box-shadow: none;
}

.df_checkbox:checked{
    background: #FFA500;
    border-color: #c78100;
}

.df_btn{
    color: #000;
    font-size: 25px;
    width: 188px;
    height: 72px;
    font-family: 'MedievalSharp', sans-serif;
    font-weight: bold;
    border-radius: 0px;
    border: 0px solid #ffc400;
    background: linear-gradient(90deg, rgb(121, 3, 3) 0%, rgb(155, 42, 7) 32%, rgb(177, 66, 15) 45%, rgb(173, 82, 22) 49%, rgb(192, 108, 12) 61%, rgb(226, 175, 8) 100%);
    transition: .2s ease-in-out;
}

.df_btn:hover{
    border: thick solid #ffc400;
}

.df_link-container{
    position: relative;
}

.df_marco-btn{
    position: absolute;
    top: -20px;
    left: -10px;
    width: 210px;
}

.df_marco-btn:hover + .df_btn{
    border-bottom: thick solid #ffc400;
    border-top: thick solid #ffc400;
    border-color: #ffc400;
}


@media only screen and (min-width: 998px) {

    .df_titulo{
        font-size: 10em;
    }
}

@media only screen and (min-width: 1200px) {
    .df_titulo{
        font-size: 7em;
        text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
    }
    
    .df_btn{
        font-size: 23px;
    }
}

@media only screen and (min-width: 1400px) {
    .df_titulo{
        font-size: 10em;
        text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
    }
    
}


