@font-face {
     font-family: 'Angel Wish';
     src: url('../Fonts/angel-wish-font/AngelWishRegular-1G9wM.ttf');
}

.main-container{
     color: #BE5108;
     background-image: url('../imgs/dungeon-back.jpg');
     background-size:cover;
     background-repeat: no-repeat;
     font-family: 'Angel Wish', sans-serif;
}

.df_titulo{
     font-size: 3em;
     text-shadow: 2px 2px 1px #D89900, 4px 4px 1px #CFCFD0;
}

.heads-up{
     font-family: 'MedievalSharp';
     color: orange;
     font-size: 15px;
}

.tabla-puntuaciones{
     font-family: 'MedievalSharp';
     border: solid 3px orange;
     border-bottom: solid 2px red;
     padding-top: 10px;
     padding-bottom: 10px;
     background: linear-gradient(90deg, rgb(26, 0, 0) 0%, rgb(128, 32, 3) 32%, rgb(153, 91, 11) 45%, rgb(153, 91, 11) 49%, rgb(128, 32, 3) 61%, rgb(26, 0, 0) 100%);
}

.text-puntuaciones{
     color: white;
     font-size: 20px;
}

.img-usuario-puntuaciones{
     width: 35px;
     border-radius: 35px;
     border: solid 2px rgb(255, 136, 0);
}

.nom-usuario-puntuaciones{
     font-size: 15px;
     color: rgb(255, 179, 93);
}

.df_btn{
     color: #000;
     font-size: 20px;
     width: 188px;
     height: 72px;
     font-family: 'MedievalSharp', sans-serif;
     font-weight: bold;
     border-radius: 0px;
     border: 0px solid #ffc400;
     background: linear-gradient(90deg, rgb(121, 3, 3) 0%, rgb(155, 42, 7) 32%, rgb(177, 66, 15) 45%, rgb(173, 82, 22) 49%, rgb(192, 108, 12) 61%, rgb(226, 175, 8) 100%);
     transition: .2s ease-in-out;
}

.df_marco-btn{
     position: absolute;
     top: -20px;
     left: -10px;
     width: 210px;
}

.df_link-container{
     display: inline-block;
     position: relative;
     width: 188px;
     height: 72px;
}

.df_marco-btn:hover + .df_btn{
     border-bottom: thick solid #ffc400;
     border-top: thick solid #ffc400;
     border-color: #ffc400;
} 


@media only screen and (min-width: 998px) {
     .nom-usuario-puntuaciones{
          font-size: 25px;
     }
     .heads-up{
          font-size: 30px;
     }
     
     .text-puntuaciones{
          font-size: 30px;
     }

     .df_container{
          width: 65vw;
     }
}

@media only screen and (min-width: 1200px) {
     .df_titulo{
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }
     
     .df_btn{
          font-size: 23px;
     }

}

@media only screen and (min-width: 1400px) {
     .df_titulo{
          font-size: 7em;
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }     
     
     .heads-up{
          font-size: 40px;
     }

     .img-usuario-puntuaciones{
          width: 65px;
     }
     
     .nom-usuario-puntuaciones{
          font-size: 35px;
     }

}