@font-face {
     font-family: 'Angel Wish';
     src: url('../Fonts/angel-wish-font/AngelWishRegular-1G9wM.ttf');
}

.main-container {
     color: #BE5108;
     background-image: url('../imgs/dungeon-back.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     font-family: 'Angel Wish', sans-serif;
}

.df_titulo {
     font-size: 3em;
     text-shadow: 2px 2px 1px #D89900, 4px 4px 1px #CFCFD0;
}


.df_btn {
     color: #000;
     font-size: 23px;
     width: 188px;
     height: 72px;
     font-family: 'MedievalSharp', sans-serif;
     font-weight: bold;
     border-radius: 0px;
     border: 0px solid #ffc400;
     background: linear-gradient(90deg, rgb(121, 3, 3) 0%, rgb(155, 42, 7) 32%, rgb(177, 66, 15) 45%, rgb(173, 82, 22) 49%, rgb(192, 108, 12) 61%, rgb(226, 175, 8) 100%);
     transition: .2s ease-in-out;
}

.df_btn:hover {
     border: thick solid #ffc400;
}

.df_input{
     font-size: 22px;
     width: 350px;
     background-color:#d89700a6;
     outline: none ;
     border: solid 3px rgb(133, 97, 0);
     border-radius: 5px;
}
.df_input:active, .df_input:focus{
     border: solid 4px rgb(255, 187, 0);
     background-color: #d89700e7;
     box-shadow: 0 0 8px rgb(255, 187, 0);

}

.df_link-container {
     position: relative;
}

.df_marco-btn {
     position: absolute;
     top: -20px;
     left: -10px;
     width: 210px;
}

.df_marco-btn:hover+.df_btn {
     border-bottom: thick solid #ffc400;
     border-top: thick solid #ffc400;
     border-color: #ffc400;
}

@media only screen and (min-width: 400px) {

     
     label {
          font-size: 28px;
     }
}

@media only screen and (min-width: 998px) {

     .df_titulo {
          font-size: 10em;
     }
     label{
          font-size: 28px;
     }
}

@media only screen and (min-width: 1200px) {
     .df_titulo {
          font-size: 7em;
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }
     label {
          font-size: 50px;
     }
     
}

@media only screen and (min-width: 1400px) {
     .df_titulo {
          font-size: 10em;
          text-shadow: 4px 4px 1px #D89900, 6px 6px 2px #CFCFD0;
     }
     label {
          font-size: 35px;
     }

}